.transactions img{
    margin-left: 65px;
    margin-right: 25px;
}
.transaction_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -26px;
}
.transaction_item_right{
    margin-bottom: 36px;
    margin-right: 62px;
}

.transaction_item p{
    margin-top: 8px;
    word-break: keep-all;
    justify-content: space-between;
}

.equipments{
    display: flex;
    flex-direction: row;
}
.grocery{
    display: flex;
    flex-direction: row;
}
.entertainment{
    display: flex;
    flex-direction: row;
}
.office{
    display: flex;
    flex-direction: row;
}