.app{
  display: flex;
  width: 925px;
  height: 1646px;
  margin: 0 auto;
  
}
.app_header{
  color:#BDBDBD ;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}
.app_name{
  font-size: 20px;
  color: #273240;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 0;
}
.cards_all{
  height: 768px;
  overflow-y: scroll;
}
.btn{
  width: 60px ;
  height: 60px;
  background-color:  #246BFD;
  border-radius:10000px ;
  color: #fff;
  border: none;
  font-size: 20px;
  position: absolute;
  
}
.card_component{
  margin: 32px 48px 0 48px;
  width: 408px;
}
.card_component h3{
  color:#273240 ;
  font-size: 20px;
  font-weight: 500;
} 